.bar-chart {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.bar {
  width: 20px;
  margin: 0 5px;
  background-color: #3498db;
  text-align: center;
  color: white;
  font-size: 14px;
}
.bar-test{
  background-color: #db7134;

}
