.bar-chart {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.bar {
  width: 20px;
  margin: 0 5px;
  background-color: #3498db;
  text-align: center;
  color: white;
  font-size: 14px;
  transition: transform 0.5s;

}
.bar-test{
  background-color: #db7134;

}
.swapping {
  transform: translateY(50px); /* Adjust this value as needed */
}